[Unit]
Description=Daily Smart Box Return Reminder at 16:30

[Timer]
OnCalendar=*-*-* 16:30:00
Persistent=true
Unit=smart-box-reminder.service

[Install]
WantedBy=timers.target
